/* app css stylesheet */
.container{
  margin-top:5px;
}
#taskList .strike{
	text-decoration: line-through;
}
#taskList .description {
  font-family: "Lobster",cursive;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0px;
  cursor: pointer;
}
#taskList input {
  margin-right: 10px;
}
#taskList button {
  float: right;
  margin-top: 5px;
  font-size: 13px;
  visibility: hidden;
}
#taskList .list-group-item:hover button {
  visibility: visible;
}
#clearTasks{
  float: right;
}